[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matRiks"]
	path = matRiks
	url = https://github.com/cran/matRiks
[submodule "mycaas"]
	path = mycaas
	url = https://github.com/brancaccioandrea/mycaas
